<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="margin-left: 70px">
        <div class="navbar-brand">Inside Employee Registration</div>
      </div>
      <div class="col" style="margin-left: 700px">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <button class="btn btn-outline-success">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Employee name</label
        >
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="xyz"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Date of Joining</label
        >
        <input
          type="text"
          class="form-control"
          id="doj"
          name="doj"
          placeholder="DD/MM/YYYY"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gender</label>
        <input type="text" class="form-control" id="gender" name="gender" />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="age" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Designation</label
        >
        <input
          type="text"
          class="form-control"
          id="designation"
          name="designation"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Salary</label>
        <input type="text" class="form-control" id="salary" name="salary" />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
    </div>
  </div>
  <br />
  <div style="margin-left: 500px">
    <button type="submit" class="btn btn-lg btn-primary">Register</button>
  </div>
</div>
