<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="margin-left: 70px">
        <div class="navbar-brand">Inside Employee Registration</div>
      </div>
      <div class="col" style="margin-left: 700px">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <a class="btn btn-outline-success" routerLink="/login">Logout</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<br />

<div class="container">
  <form #f="ngForm">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Employee name</label
          >
          <input
            type="text"
            class="form-control"
            id="emp_name"
            name="emp_name"
            placeholder="xyz"
            ngModel
            #emp_name="ngModel"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Date of Joining</label
          >
          <input
            type="text"
            class="form-control"
            id="doj"
            name="date_of_joining"
            placeholder="DD/MM/YYYY"
            ngModel
            #date_of_joining="ngModel"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Gender</label
          >

          <input
            type="text"
            class="form-control"
            id="gender"
            name="gender"
            ngModel
            #gender="ngModel"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Age</label>
          <input
            type="text"
            class="form-control"
            id="age"
            name="age"
            ngModel
            #age="ngModel"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            id="designation"
            name="designation"
            ngModel
            #designation="ngModel"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="name@example.com"
            ngModel
            #email="ngModel"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Salary</label
          >
          <input
            type="text"
            class="form-control"
            id="salary"
            name="salary"
            ngModel
            #salary="ngModel"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            #password="ngModel"
          />
        </div>
      </div>
    </div>
    <br />
    <div style="margin-left: 500px">
      <button
        type="submit"
        class="btn btn-lg btn-primary"
        (click)="onAddEmployee(f.value, f)"
      >
        Register
      </button>
    </div>
  </form>
</div>
